/* Styles for the navbarRoot container */
.navbarRoot {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem; /* Add padding to the navbar */
  background: rgba(
    23,
    21,
    37,
    0.5
  ); /* Set a semi-transparent background color */
  -webkit-backdrop-filter: blur(
    10px
  ); /* Apply a blur effect to the background */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  align-items: center; /* Center the content vertically */
  position: sticky; /* Stick the navbar to the top of the viewport */
  top: 0; /* Position at the top of the viewport */
  z-index: 100; /* Set a high z-index to ensure it appears above other content */
}

/* Styles for the navLinks container within the navbar */
.navLinks {
  display: flex;
  gap: 3rem; /* Add space between navigation links */
  color: white; /* Set the text color to white */
  align-items: center; /* Center the content vertically */
}

/* Styles for navigation buttons within the navbar */
.navButton button {
  border: none; /* Remove button borders */
  border: 1px solid #4858e8; /* Add a border with a specific color */
  padding: 1rem 2rem; /* Add padding to the buttons */
  border-left: 5px solid #4858e8; /* Add a left border with a different color */
  background-color: transparent; /* Set a transparent background */
  color: #4858e8; /* Set the text color */
  font-weight: bolder; /* Apply a bold font weight */
  transition: 0.2s ease-in-out; /* Add a smooth transition effect */
}

/* Styles for navigation buttons on hover */
.navButton button:hover {
  border: 1px solid #191527; /* Change border color on hover */
  border-left: 5px solid #191527; /* Change left border color on hover */
  background-color: white; /* Change background color on hover */
  color: #191527; /* Change text color on hover */
  font-weight: bolder; /* Apply bold font weight on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
